<h2>Контакты</h2>
<p></p>
<form action="/contacts" method="POST">

<div>
    <label>Ваш e-mail:</label>
    <br>
    <input name="email" type="email">
</div>

<br>

<div>
  <label>Ваше сообщение:</label>
  <br>
  <textarea rows="10" cols="45" name="text"></textarea>
</div>
<br>
<button type="submit" >Отправить сообщение</button>

</form>